<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sk="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common_header(~{::title},~{},~{},~{})">
    <!--title,metas,links,scripts-->
    <title>系统用户管理</title>
</head>
<body>
<article class="page-container">
    <form method="post" class="form form-horizontal" id="sysUserForm">
    <!--<form th:action="${oprt}" method="post" class="form form-horizontal" id="sysUserForm">-->
        <div>
            <label id="retMsg" style="display:block;text-align: center;color: #FF0000"
                   th:inline="text">[[${msg}]]</label>
            <input type="hidden" id="uId" name="uId" th:value="${obj.uId}" value=""/>
        </div>
        <div th:switch="${oprt}">
            <!--添加开始-->
            <div th:case="add">
                <div class="row cl">
                    <sk:label class="col-xs-2 col-sm-2" required="true" text="用户名："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.userName}" id="userName" name="userName"/>
                    </div>
                    <sk:label class="col-xs-2 col-sm-2" text="姓名："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.realName}" id="realName" name="realName"/>
                    </div>
                </div>
                <div class="row cl">
                    <sk:label class="col-xs-2 col-sm-2" required="true" text="初始密码："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input type="password" th:value="${obj.password}" id="password" name="password" placeholder="密码"/>
                    </div>
                    <sk:label class="col-xs-2 col-sm-2" required="true" text="确认密码："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input type="password" th:value="${obj.password2}" id="password2" name="password2" placeholder="确认新密码"/>
                    </div>
                </div>
                <div class="row cl">
                    <sk:label class="col-xs-2 col-sm-2" text="性别："/>
                    <div class="formControls col-xs-4 col-sm-4 skin-minimal">
                        <div class="radio-box">
                            <input name="sex" type="radio" id="sex-1" th:checked="${obj.sex == '男' or obj.sex eq  null}"
                                   checked value="男">
                            <label for="sex-1">男</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="sex-2" th:checked="${obj.sex == '女'}" name="sex" value="女">
                            <label for="sex-2">女</label>
                        </div>
                    </div>
                    <sk:label class="col-xs-2 col-sm-2" text="手机号码："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.mobilePhone}" id="mobilePhone" name="mobilePhone"/>
                    </div>
                </div>

                <div class="row cl">
                    <sk:label class="col-xs-2 col-sm-2" text="邮箱："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.email}" id="email" name="email"/>
                    </div>
                    <sk:label class="col-xs-2 col-sm-2" text="角色："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:treeSelect id="roleId" name="roleIds" type="checkbox" scCode="sys_role_select"/>
                    </div>
                </div>
                <div class="row cl">
                    <sk:label class="col-xs-2 col-sm-2" text="描述："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <textarea name="descri" cols="22" rows="4" class="textarea"
                                  onKeyUp="$.Huitextarealength(this,100)"
                                  th:inline="text">
                            [[${obj.descri}]]
                        </textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                    </div>
                </div>
            </div>
            <!--添加结束-->

            <!-- ********************** -->

            <!--修改开始-->
            <div th:case="update">
                <div class="row cl">
                    <sk:label class="col-xs-2 col-sm-2" required="true" text="用户名："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.userName}" id="userName" name="userName"/>
                    </div>
                    <sk:label class="col-xs-2 col-sm-2" text="姓名："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.realName}" id="realName" name="realName"/>
                    </div>
                </div>
                <div class="row cl">
                    <!--<sk:label class="col-xs-2 col-sm-2" required="true" text="密码："/>-->
                    <!--<div class="formControls col-xs-4 col-sm-4">-->
                        <!--<sk:input type="password" th:value="${obj.password}" id="password" name="password" placeholder="密码"/>-->
                        <!--<input type="hidden" name="password2" th:value="${obj.password2}"/>-->
                    <!--</div>-->
                    <sk:label class="col-xs-2 col-sm-2" text="性别："/>
                    <div class="formControls col-xs-4 col-sm-4 skin-minimal">
                        <div class="radio-box">
                            <input name="sex" type="radio" id="sex-1" th:checked="${obj.sex == '男' or obj.sex eq  null}"
                                   checked value="男">
                            <label for="sex-1">男</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="sex-2" th:checked="${obj.sex == '女'}" name="sex" value="女">
                            <label for="sex-2">女</label>
                        </div>
                    </div>
                    <sk:label class="col-xs-2 col-sm-2" text="角色："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:treeSelect id="roleId" name="roleIds" th:value="${obj.roleIds}" type="checkbox" scCode="sys_role_select"/>
                        <input type="hidden" name="oldRoleIds" th:value="${obj.roleIds}"/>
                    </div>
                </div>
                <div class="row cl">

                    <sk:label class="col-xs-2 col-sm-2" text="手机号码："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.mobilePhone}" id="mobilePhone" name="mobilePhone"/>
                    </div>
                    <sk:label class="col-xs-2 col-sm-2" text="邮箱："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <sk:input th:value="${obj.email}" id="email" name="email"/>
                    </div>
                </div>

                <div class="row cl">

                    <!--<sk:label class="col-xs-2 col-sm-2" text="角色："/>-->
                    <!--<div class="formControls col-xs-4 col-sm-4">-->
                        <!--<sk:treeSelect id="roleId" name="roleIds" th:value="${obj.roleIds}" type="checkbox" scCode="sys_role_select"/>-->
                        <!--<input type="hidden" name="oldRoleIds" th:value="${obj.roleIds}"/>-->
                    <!--</div>-->
                    <sk:label class="col-xs-2 col-sm-2" text="描述："/>
                    <div class="formControls col-xs-4 col-sm-4">
                        <textarea name="descri" cols="22" rows="4" class="textarea"
                                  onKeyUp="$.Huitextarealength(this,100)"
                                  th:inline="text">
                            [[${obj.descri}]]
                        </textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                    </div>
                </div>
            </div>
            <!--修改结束-->

            <!-- ********************** -->

            <!--修改密码开始-->
            <div th:case="updatePassword">
                <div class="row cl">
                    <sk:label class="col-xs-3 col-sm-3" text="用户名："/>
                    <label class="formControls col-xs-9 col-sm-9" th:inline="text">[[${obj.userName}]]</label>
                </div>
                <div class="row cl">
                    <sk:label class="col-xs-3 col-sm-3" required="true" text="新密码："/>
                    <div class="formControls col-xs-9 col-sm-9">
                        <sk:input type="password" id="password" name="password" placeholder="新密码" autocomplete="off"/>
                    </div>
                </div>
                <div class="row cl">
                    <sk:label class="col-xs-3 col-sm-3" required="true" text="确认新密码："/>
                    <div class="formControls col-xs-9 col-sm-9">
                        <sk:input type="password" id="password2" name="password2" placeholder="确认新密码" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <!--修改密码结束-->
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <sk:button class="btn-success" type="reset" text="&nbsp;&nbsp;重置&nbsp;&nbsp;"/>
                <sk:button class="btn-primary" type="submit" text="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<div th:replace="common/common :: common_footer">
</div>
<!--/_footer 作为公共模版分离出去-->


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/static/H-ui.admin/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/static/H-ui.admin/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/static/H-ui.admin/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/static/H-ui.admin/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/static/H-ui.admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var oprt = [[${oprt}]];
</script>
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#sysUserForm").validate({
            rules: {
                userName: {
                    required: true,
                    minlength: 4,
                    maxlength: 16
                },
                password: {
                    required: true,
                },
                password2: {
                    required: true,
                    equalTo: "#password"
                },
                mobilePhone: {
                    isMobile: true
                },
                email: {
                    email: true
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                /*$(form).ajaxSubmit();
                parent.location.reload();
                var index = parent.layer.getFrameIndex(window.name);
                //parent.$('.btn-refresh').click();
                parent.layer.close(index);*/
                var url = oprt;
                var param = $(form).serialize();
                sk.ajaxRequest(url, param, function (r) {
                    if (r.code == '0') {
                        sk.successMsg(r.msg);
                        if (oprt != 'add') {
                            setTimeout(function () {
                                // parent.location.reload();
//                                var index = parent.layer.getFrameIndex(window.name);
//                                parent.layer.close(index);
                                layer_close();
                            }, 800);
                        }
                    } else {
                        sk.failMsg(r.msg);
                    }

                });
//                return false; // 阻止表单自动提交事件


            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>